<%= render 'layouts/dochead' %>
<header id="header" class="nav-light">
<%= render 'layouts/header' %>
<div class="content">
  <%= yield %>
</div>
<%= javascript_include_tag 'bundle' %>
</body>
</html>
