<%= render 'layouts/dochead' %>
<header id="header" class="nav-light">
<%= render 'layouts/header' %>
<div class="content">
  <%= yield %>
</div>
<footer class="footer copyright">
  <div class="container">
    <p>Copyright &copy; 2016 by Setlistr. All rights reserved.</p>
  </div>
</footer>
</body>
</html>
