<%= render 'layouts/dochead' %>
<header id="header">
<%= render 'layouts/header' %>
<div class="devise row">
  <div class="6u -3u 12u(small) devise-content">
    <%= yield %>
  </div>
</div>

</body>
</html>
